goodreads
dev
*.pyc
*.json
*.log
*.copy
*.off
*.npy
.ipynb_checkpoints/
learning.ipynb

!data/.gitkeep
data/*

__pycache__/
pretrained_models/
models/converted_checkpoint

# used to convert/update model checkpoints
# from tensorflow/tensorflow/contrib/rnn/python/tools/checkpoint_convert.py
checkpoint_convert.py
